openapi: 3.1.0
info:
  title: REST API for Inventory Management
  description: |
    The API provides information to be used  by other services of the online library.
    Information necessary for the user interface are handled inside of the service.
  contact:
    email: annegret.junker@online-library.org
    name: Annegret Junker
    url: https://api.online-library.de
  version: 1.0.0
  x-api-id: c004ebd2-f9c6-4e21-aa41-826f8eaf4092
  x-audience: company-internal
servers:
  - url: 'https://api.online-library.de/service'
security:
  - OpenIdConnect:
      - book:read
      - author:read
tags:
  - name: Author
    description: End points to access on author information
  - name: Book
    description: End points to access on book information

paths:
  /authors/{authorId}:
    get:
      description: Delivers the full information of an author identified by its ID
      operationId: getAuthorById
      tags:
        - Author
      security:
        - openIdConnect:
            - author:read
      parameters:
        - $ref: '#/components/parameters/AuthorIdentifierParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
        # Answer with your resource
          $ref: '#/components/responses/AuthorResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /books/{bookId}:
    get:
      description: Delivers the full information of a book identified by its ID
      operationId: getBookById
      tags:
        - Book
      security:
        - openIdConnect:
            - book:read
      parameters:
        - $ref: '#/components/parameters/BookIdentifierParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/BookResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'


components:
  parameters:
    AuthorIdentifierParameter:
      name: authorId
      description: Author identifier
      required: true
      in: path
      schema:
        type: string
        format: uuid
        examples:
          - 08a13654-05f3-4664-8c8d-fdd9114ec3be

    BookIdentifierParameter:
      name: bookId
      description: Author identifier
      required: true
      in: path
      schema:
        type: string
        format: uuid
        examples:
          - 5dda405a-d28e-490a-8508-1ea3453e91ae

    VersionParameter:
      name: x-api-version
      description: Version of the API specification used delivered in header
      in: header
      required: true
      schema:
        type: string
        x-extensible-enum:
          - 1.0.0
        default: 1.0.0
        examples:
          - 1.0.0


  responses:
    BadRequestResponse:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ForbiddenResponse:
      description: Forbidden

    NotFoundResponse:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    AuthorResponse:
      description: Delivers back the resource to be exposed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorFull'

    BookResponse:
      description: Delivers back the resource to be exposed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BookFull'

    ServiceNotAvailableResponse:
      description: Service not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    DefaultResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    AuthorShort:
      description: Author of a book
      type: object
      required:
        - authorId
        - givenName
        - familyName
      properties:
        authorId:
          description: Identifier of the author
          type: string
          format: uuid
          examples:
            - 08a13654-05f3-4664-8c8d-fdd9114ec3be
        givenName:
          description: Given name of the author
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Kent
        familyName:
          description: Family name of the author
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Beck

    AuthorFull:
      description: Full description of an author
      type: object
      allOf:
        - $ref: '#/components/schemas/AuthorShort'
      properties:
        authorPhotoWebP:
          description: Photo of the author as WebP
          type: string
          format: binary
        authorBiography:
          description: Short bio of the author
          type: string
          minLength: 10
          maxLength: 2048

    BookFull:
      description: A full book including cover image
      type: object
      allOf:
        - $ref: '#/components/schemas/BookShort'
      properties:
        coverImageWebP:
          description: Cover image of the book
          type: string
          format: binary



    BookShort:
      description: Book which was purchased by the librarians
      type: object
      required:
        - isbn13
      properties:
        bookIdentifier:
          description: Identifier of a book
          type: string
          format: uuid
          examples:
            - 5dda405a-d28e-490a-8508-1ea3453e91ae
        isbn13:
          description: ISBN (international standard book number) with 13 characters
          type: string
          pattern: ^(?:ISBN(?:-13)?:?\ )?(?=[0-9]{13}$|(?=(?:[0-9]+[-\ ]){4})[-\ 0-9]{17}$)97[89][-\ ]?[0-9]{1,5}[-\ ]?[0-9]+[-\ ]?[0-9]+[-\ ]?[0-9]$
          examples:
            - 9780321146530
            - ISBN 978-0321-14653-0
        authors:
          description: Authors of the book
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/AuthorShort'
        areEditors:
          description: Flag to set to true if the book is published by editors
          type: boolean
          default: false
          examples:
            - true
        editor:
          $ref: '#/components/schemas/Editor'
        title:
          description: Title of the book
          type: string
          minLength: 2
          maxLength: 255
          examples:
            - Test-Driven Development
        subtitle:
          description: Subtitle of the book
          type: string
          minLength: 2
          maxLength: 255
          examples:
            - By Example
        media:
          description: Link to the media which contains the book
          type: string
          format: url
          example:
            - 'https://online-library/storage/2024/test-driven-development.epub'
        format:
          description: Format of the according media
          type: string
          x-exensible-enum:
            - EPUB
            - KINDLE
            - PDF
            - BBEB
            - MOBI
          default:
            - EPUB
          examples:
            - EPUB

    Editor:
      description: Editor of a book
      type: object
      required:
        - name
      properties:
        name:
          description: Name of the editor
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Springer Nature
            - Addison-Weasley
        city:
          description: Location of the editor
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Cham, Switzerland
            - Boston

    Error:
      description: An error object used for error responses
      type: object
      required:
        - title
        - status
        - timestamp
      properties:
        title:
          description: A short description of the problem using kebab-cases
          type: string
          minLength: 2
          maxLength: 255
          examples:
            - out-of-stock
        detail:
          description: |
            A human-readable description of the problem which can be used by technicians to solve the problem.
          type: string
          examples:
            - The item is currently out of stock.
        timestamp:
          description: Point in time when the error occurred
          type: string
          format: date-time
          examples:
            - 2024-07-01T23:32:54T+01:00
        traceparent:
          description: Tracking ID of the API journey
          type: string
          pattern: ^[0-9]{2}-[0-9a-z]{16}-[0-9a-z]{8}-[0-9a-z]{1}[0-9a-z]{1}$
          examples:
            - 00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01
        severity:
          description: Severity of the according error
          type: string
          enum:
            - FATAL
            - ERROR
            - WARNING
            - INFO
          examples:
            - ERROR



  securitySchemes:
    openIdConnect:
      type: openIdConnect
      description: Security scheme for events
      openIdConnectUrl: "https://idp.codecentric.de/configuration"
