openapi: 3.1.0
info:
  title: Reading
  description: |
    Reading allows members to read books and make notes.
    When a member shares a book, they share their notes as well.
  contact:
    email: annegret.junker@online-library.org
    name: Annegret Junker
    url: https://api.online-library.org
  version: 1.0.0
  x-api-id: d4761ff3-cc3b-4974-a1b5-f0837223d79d
  x-audience: external-public
servers:
  - url: 'https://api.online-library.org/reading/'
security:
  - openIdConnect:
      - books:read
      - notes:read
      - notes:write
tags:
  - name: Currently read book
    description: All endpoints belonging to the currently read books by a member
  - name: Marked text
    description: All endpoints belonging to marked text
  - name: Notes
    description: All endpoints belonging to notes
  - name: Shares
    description: All endpoints belonging to shares of notes or marked text
paths:
  /books:
    get:
      description: Delivers back all books of a member that they read currently
      operationId: getReadingOfAMember
      security:
        - openIdConnect:
            - books:read
      tags:
        - Currently book
      parameters:
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/BooksResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /books/{bookId}:
    get:
      description: |
        Delivers back a book read by a member by its identifier.
        The book is opened by the current reading position of the member.
      operationId: getReadBookById
      security:
        - openIdConnect:
            - books:read
      tags:
        - Currently read book
      parameters:
        - $ref: '#/components/parameters/BookIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/BookOpenedResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /books/{bookId}/marked-texts:
    get:
      description: |
        Delivers back all marked text of a book by a member.
        The marked text can be marked by the member or is marked text that was shared with them.
        It delivers back the marked texts independent if they have a note or not.
      operationId: getMarkedTextByReadingId
      security:
        - openIdConnect:
            - notes:read
      tags:
        - Currently read book
        - Marked text
      parameters:
        - $ref: '#/components/parameters/BookIdParameter'
        - $ref: '#/components/parameters/OneselfParameter'
        - $ref: '#/components/parameters/StartPositionParameter'
        - $ref: '#/components/parameters/EndPositionParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/MarkedTextsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

    post:
      description: |
        Creates a new text mark by the current reader
      operationId: createMarkedTextByReadingId
      security:
        - openIdConnect:
            - notes:write
      tags:
        - Currently read book
        - Marked text
      parameters:
        - $ref: '#/components/parameters/BookIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      requestBody:
        $ref: '#/components/requestBodies/MarkedTextToBeCreatedRequest'
      responses:
        '200':
          $ref: '#/components/responses/LinkToMarkedTextResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /books/marked-text/{markedTextId}/notes:

    put:
      description: Changes a note - can only be done by the owner
      operationId: changeNoteByIdWith \put

      security:
        - openIdConnect:
            - notes:write
      tags:
        - Currently read book
        - Marked text
        - Notes
      parameters:
        - $ref: '#/components/parameters/MarkedTextIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      requestBody:
        $ref: '#/components/requestBodies/NoteToBeChangedRequest'
      responses:
        '200':
          $ref: '#/components/responses/LinkToMarkedTextResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

    delete:
      description: Deletes a note - can only be done by the owner
      operationId: deleteNoteById
      security:
        - openIdConnect:
          - notes:write
      tags:
        - Currently read book
        - Marked text
        - Notes
      parameters:
        - $ref: '#/components/parameters/MarkedTextIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulOperationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /books/{bookId}/notes:
    get:
      description: |
        Delivers back all notes belonging to a book, notes must be shared with the member or created by them
        Only those notes are delivered back where the text is not empty
      operationId: getNotesByReadingId
      security:
        - openIdConnect:
            - notes:read
      tags:
        - Currently read book
        - Marked text
        - Notes
      parameters:
        - $ref: '#/components/parameters/BookIdParameter'
        - $ref: '#/components/parameters/OneselfParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/LinkToMarkedTextResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'


  /books/marked-text/{markedTextId}/shares:
    post:
      description: Creates a new share of a note by the owner of the text passage
      operationId: createShareByMarkedTextId
      security:
        - openIdConnect:
            - notes:write
      tags:
        - Currently read book
        - Marked text
        - Shares
      parameters:
        - $ref: '#/components/parameters/MarkedTextIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      requestBody:
        $ref: '#/components/requestBodies/SharesToBeCreated'
      responses:
        '201':
          $ref: '#/components/responses/MarkedTextResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

    delete:
      description: Deletes the entire share of a note - only be done by the owner
      operationId: deleteShareByNotesId
      security:
        - openIdConnect:
            - notes:write
      parameters:
        - $ref: '#/components/parameters/MarkedTextIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulOperationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'


components:
  parameters:
    CreatorParameter:
      name: creator
      description: Creator of a note
      in: query
      required: false
      schema:
        type: string
        format: uuid
        examples:
          - bc85de6b-0297-4e0b-a275-7d52cfc91bcd

    StartPositionParameter:
      name: start
      description: Start position of a text passage
      required: false
      in: query
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 12500000
        examples:
          - 1000

    EndPositionParameter:
      name: end
      description: End position of a text passage
      required: false
      in: query
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 1250000
        examples:
          - 1000

    OneselfParameter:
      name: oneself
      description: Indicator if the result should be filtered by the current member.
      required: false
      in: query
      schema:
        type: boolean
        default: false
        examples:
          - false

    BookIdParameter:
      name: bookId
      description: Identifier of currently read book
      required: true
      in: path
      schema:
        type: string
        format: uuid
        examples:
          - ec7b3edf-3d36-4973-a0c7-81a9261e8c3d

    MarkedTextIdParameter:
      name: markedTextId
      description: Identifier of currently read book
      required: true
      in: path
      schema:
        type: string
        format: uuid
        examples:
          - 65a92e1b-0c97-4fe0-95c6-848afc45d90d

    VersionParameter:
      name: x-version
      description: Version of the API specification used delivered in header
      in: header
      required: true
      schema:
        type: string
        x-extensible-enum:
          - 1.0.0
        default: 1.0.0
        examples:
          - 1.0.0

  requestBodies:
    NoteToBeChangedRequest:
      description: Creates a new note to a text passage
      content:
        application/json:
          schema:
            type: object
            required:
              - note
            properties:
              note:
                type: string
                minLength: 10
                maxLength: 1050
                examples:
                  - I like this sentence. It describes my entire life.

    MarkedTextToBeCreatedRequest:
      description: Creates a new marked text passage
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MarkedTextToBeCreated'

    SharesToBeCreated:
      description: Creates a new share of marked text with or without note
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Shares'

  responses:
    BadRequestResponse:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ForbiddenResponse:
      description: Forbidden

    LinkToMarkedTextResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Link"

    NotFoundResponse:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ServiceNotAvailableResponse:
      description: Service not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    DefaultResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    SuccessfulOperationResponse:
      description: Successful operation

    BooksResponse:
      description: Delivers back a list of books currently read by the member
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Books'

    BookOpenedResponse:
      description: Delivers back a simple book to be read by a member
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BookOpened'

    MarkedTextsResponse:
      description: Delivers back a list of marked text
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MarkedTexts'

    SharesResponse:
      description: Delivers back the shares belonging to a certain marked text
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Shares'

    MarkedTextResponse:
      description: Delivers back a single marked text
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MarkedText'

  schemas:
    AuthorVeryShort:
      description: Author of a book
      type: object
      required:
        - authorId
      properties:
        authorId:
          description: Identifier of the author
          type: string
          format: uuid
          examples:
            - 08a13654-05f3-4664-8c8d-fdd9114ec3be
        familyName:
          description: Family name of the author
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Beck

    Member:
      description: Member who lent a book
      type: object
      required:
        - memberId
      properties:
        memberId:
          description: Identifier of a member
          type: string
          format: uuid
          examples:
            - e42c3677-6381-4cb8-ac8e-ea3082c707e0
        memberName:
          description: Family name of the member
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Junker

    Book:
      description: Book which is read by a member
      type: object
      required:
        - catalogId
      properties:
        catalogId:
          description: Identifier of the book in the catalog
          type: string
          format: uuid
          examples:
            - 5dda405a-d28e-490a-8508-1ea3453e91ae
        authors:
          description: Authors of the book by their family names only
          type: array
          minItems: 0
          maxItems: 10
          items:
            $ref: '#/components/schemas/AuthorVeryShort'
        title:
          description: Title of the book
          type: string
          minLength: 5
          maxLength: 255
          examples:
            - Test-driven development
        currentReadingPosition:
          description: Current reading position of the member
          type: integer
          format: int32
          minimum: 0
          maximum: 1250000
          examples:
            - 35698
        media:
          description: Link to the media which contains the book
          type: string
          format: url
          example:
            - 'https://online-library/storage/2024/test-driven-development.epub'
        format:
          description: Format of the according media
          type: string
          x-extensible-enum:
            - EPUB
            - KINDLE
            - PDF
            - BBEB
            - MOBI
          default:
            - EPUB
          examples:
            - EPUB

    Books:
      description: List of book currently read by the member
      type: object
      required:
        - books
      properties:
        books:
          $ref: '#/components/schemas/Book'

    BookOpened:
      description: A book currently opened by a member
      type: object
      allOf:
        - $ref: '#/components/schemas/Book'
      properties:
        text:
          description: Text of the book, encoded to avoid difficulties with special characters
          type: string
          minLength: 1050
          maxLength: 1250000
          format: base64

    MarkedTextToBeCreated:
      description: Marked Text identified by its position
      type: object
      required:
        - owner
        - textPassage
      properties:
        owner:
          $ref: '#/components/schemas/Member'
        book:
          $ref: '#/components/schemas/Book'
        textPassage:
          $ref: '#/components/schemas/TextPassage'


    MarkedText:
      description: Text marked in a book by a member
      type: object
      required:
        - identifier
      allOf:
        - $ref: '#/components/schemas/MarkedTextToBeCreated'
      properties:
        identifier:
          description: Identifier of the marked text
          type: string
          format: uuid
          examples:
            - e6d341a5-5201-4383-906b-ff815c48ac56
        shares:
          $ref: '#/components/schemas/Shares'

    MarkedTexts:
      description: List of marked texts
      type: object
      required:
        - markedTexts
      properties:
        searchMetaData:
          $ref: '#/components/schemas/SearchMetaData'
        markedTexts:
          description: Lists of marked texts
          type: array
          minItems: 0
          maxItems: 50000
          items:
            $ref: '#/components/schemas/MarkedText'

    SearchMetaData:
      description: Meta data for a search result
      type: object
      required:
        - resultCount
        - offset
        - limit
      properties:
        resultCount:
          description: Count of results of the current search
          type: integer
          minimun: 0
          maximum: 10000
          format: int32
          examples:
            - 250
        offset:
          description: Offset of the delivered result
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
          examples:
            - 0
        limit:
          description: Number of single result entries delivered in the search
          type: integer
          format: int32
          minimum: 1
          maximum: 50
          examples:
            - 30

    Note:
      description: Note created by a member to a text passage in a book
      type: object
      allOf:
        - $ref: '#/components/schemas/MarkedText'
      properties:
        note:
          description: Text of the note, to avoid difficulties with special characters, the text must be encoded
          type: string
          format: base64
          minLength: 10
          maxLength: 1050
          examples:
            - I like this sentence. It describes my entire life.


    TextPassage:
      description: Start and end of a text in a book
      type: object
      required:
        - start
      properties:
        start:
          description: Start position of the text passage, must be smaller than the end postion
          type: integer
          format: int32
          examples:
            - 251
        end:
          description: End position of the text passage, must be larger than the start positio
          type: integer
          format: int32
          examples:
            - 300

    Shares:
      description: |
        List of members to whom the according text passage including notes is shared
        Alternatively it can be shared with all
      type: object
      properties:
        isSharedWithAll:
          description: |
            If this flag is set to true, the note or text passage can be accessed by all members of the library
          type: boolean
          default: false
          examples:
            - false
        shares:
          description: |
            List of members to whom the note or text passage is shared - can be empty when it is shared with all
          type: array
          minItems: 0
          maxItems: 1000
          items:
            $ref: '#/components/schemas/Member'


    Link:
      description: Link to an entity
      type: object
      required:
        - type
        - link
      properties:
        type:
          description: Not fully qualified type name of the object
          type: string
          minLength: 2
          maxLength: 155
          # adapt the examples with your exposed resource
          examples:
            - Book
        link:
          description: URL to the according entity
          type: string
          format: uri
          examples:
            - https://api.online-library.de/reading/books/74d870fa-9e93-4ffd-907e-038c85e8bc20

    Error:
      description: An error object used for error responses
      type: object
      required:
        - title
        - status
        - timestamp
      properties:
        title:
          description: A short description of the problem using kebab-cases
          type: string
          minLength: 2
          maxLength: 255
          examples:
            - out-of-stock
        detail:
          description: |
            A human-readable description of the problem which can be used by technicians to solve the problem.
          type: string
          examples:
            - The item is currently out of stock.
        timestamp:
          description: Point in time when the error occurred
          type: string
          format: date-time
          examples:
            - 2024-07-01T23:32:54Z
        traceparent:
          description: Tracking ID of the API journey
          type: string
          pattern: ^[0-9]{2}-[0-9a-z]{16}-[0-9a-z]{8}-[0-9a-z]{1}[0-9a-z]{1}$
          examples:
            - 00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01
        severity:
          description: Severity of the according error
          type: string
          enum:
            - FATAL
            - ERROR
            - WARNING
            - INFO
          examples:
            - ERROR

