openapi: 3.1.0
info:
  title: Catalog Search
  description: |
   Catalog search to allow members and librarians to search for books
  contact:
    email: annegret.junker@online-library.org
    name: Annegret Junker
    url: https://api.online-library.org
  version: 1.0.0
  x-api-id: 872ed5aa-97ef-4ff9-94bc-29da0ebd0d62
  x-audience: external-public
servers:
  - url: 'https://api.online-library.org/catalog-sesarch/'
security:
  - openIdConnect:
      - catalog:read
tags:
  - name: Search
    description: All endpoints to search for a book in the catalog
  - name: Author
    description: All endpoints to receive specific information of authors
paths:
  /catalog-entries:
    get:
      description: End point to search for an entry based on general search criteria
      operationId: getBookBySearchCriteria
      tags:
        - Search
      security:
        - openIdConnect:
            - catalog:read
      parameters:
        - $ref: '#/components/parameters/SearchParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/CatalogEntriesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        # Not found is handled by an empty search result
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /catalog-entries/{catalogEntryId}:
    get:
      description: Delivers back a single catalog entry based on its identifier
      operationId: getCatalogEntryById
      tags:
        - Catalog
      security:
        - openIdConnect:
            - catalog:read
      parameters:
        - $ref: '#/components/parameters/CatalogEntryIdentifierParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/CatalogEntryResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

  /authors/{authorId}:
    get:
      description: Delivers back specific information of authors
      operationId: getAuthorById
      tags:
        - Author
      security:
        - openIdConnect:
            - catalog:read
      parameters:
        - $ref: '#/components/parameters/AuthorIdentifierParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/AuthorResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'
        default:
          $ref: '#/components/responses/DefaultResponse'

components:
  parameters:
    AuthorIdentifierParameter:
      name: authorId
      required: true
      in: path
      schema:
        schema:
          type: string
          format: uuid
          examples:
            - 08a13654-05f3-4664-8c8d-fdd9114ec3be

    CatalogEntryIdentifierParameter:
      name: catalogEntryId
      description: Catalog entry identifier
      required: true
      in: path
      schema:
        type: string
        format: uuid
        examples:
          - 5dda405a-d28e-490a-8508-1ea3453e91ae

    SearchParameter:
      name: search
      description: Search string for a fulltext search in the catalog
      required: true
      in: query
      schema:
        type: string
        minLength: 2
        maxLength: 1224

    VersionParameter:
      name: x-version
      description: Version of the API specification used delivered in header
      in: header
      required: true
      schema:
        type: string
        x-extensible-enum:
          - 1.0.0
        default: 1.0.0
        examples:
          - 1.0.0

    OffsetParameter:
      name: offset
      description: Offset of a paging in a search result
      in: header
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 10000
        default: 0

    LimitParameter:
      name: limit
      description: Limit of a paging of search results
      in: header
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 250
        default: 30


  responses:
    AuthorResponse:
      description: Successful operation - author found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorFull'

    BadRequestResponse:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ForbiddenResponse:
      description: Forbidden

    NotFoundResponse:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    CatalogEntryResponse:
      description: Delivers back the resource to be exposed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogEntryFull'

    CatalogEntriesResponse:
      description: List of search results
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogEntries'

    ServiceNotAvailableResponse:
      description: Service not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    DefaultResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    SuccessfulOperationResponse:
      description: Successful operation

  schemas:
    Error:
      description: An error object used for error responses
      type: object
      required:
        - title
        - status
        - timestamp
      properties:
        title:
          description: A short description of the problem using kebab-cases
          type: string
          minLength: 2
          maxLength: 255
          examples:
            - out-of-stock
        detail:
          description: |
            A human-readable description of the problem which can be used by technicians to solve the problem.
          type: string
          examples:
            - The item is currently out of stock.
        timestamp:
          description: Point in time when the error occurred
          type: string
          format: date-time
          examples:
            - 2024-07-01T23:32:54T+01:00
        traceparent:
          description: Tracking ID of the API journey
          type: string
          pattern: ^[0-9]{2}-[0-9a-z]{16}-[0-9a-z]{8}-[0-9a-z]{1}[0-9a-z]{1}$
          examples:
            - 00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01
        severity:
          description: Severity of the according error
          type: string
          enum:
            - FATAL
            - ERROR
            - WARNING
            - INFO
          examples:
            - ERROR

    AuthorShort:
      description: Author of a book
      type: object
      required:
        - authorId
        - givenName
        - familyName
      properties:
        authorId:
          description: Identifier of the author
          type: string
          format: uuid
          examples:
            - 08a13654-05f3-4664-8c8d-fdd9114ec3be
        givenName:
          description: Given name of the author
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Kent
        familyName:
          description: Family name of the author
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Beck

    AuthorFull:
      description: Full description of an author
      type: object
      allOf:
        - $ref: '#/components/schemas/AuthorShort'
      properties:
        authorPortraitWebP:
          description: Portrait of the author as WebP
          type: string
          format: binary
        authorBiography:
          description: Short bio of the author
          type: string
          minLength: 10
          maxLength: 2048

    CatalogEntries:
      description: List of short catalog entries as a result list of a search
      type: object
      required:
        - searchMetaData
        - catalogEntries
      properties:
        searchMetaData:
          $ref: '#/components/schemas/SearchMetaData'
        catalogEntries:
          description: Search result
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/CatalogEntryShort'

    SearchMetaData:
      description: Meta data for a search result
      type: object
      required:
        - resultCount
        - offset
        - limit
      properties:
        resultCount:
          description: Count of results of the current search
          type: integer
          minimun: 0
          maximum: 10000
          format: int32
          examples:
            - 250
        offset:
          description: Offset of the delivered result
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
          examples:
            - 0
        limit:
          description: Number of single result entries delivered in the search
          type: integer
          format: int32
          minimum: 1
          maximum: 50
          examples:
            - 30

    CatalogEntryShort:
      description: Catalog entry created to represent a book
      type: object
      required:
        - isbn13
      properties:
        catalogEntryIdentifier:
          description: Identifier of a book
          type: string
          format: uuid
          examples:
            - 5dda405a-d28e-490a-8508-1ea3453e91ae
        isbn13:
          description: ISBN (international standard book number) with 13 characters
          type: string
          pattern: ^(?:ISBN(?:-13)?:?\ )?(?=[0-9]{13}$|(?=(?:[0-9]+[-\ ]){4})[-\ 0-9]{17}$)97[89][-\ ]?[0-9]{1,5}[-\ ]?[0-9]+[-\ ]?[0-9]+[-\ ]?[0-9]$
          examples:
            - 9780321146530
            - ISBN 978-0321-14653-0
        authors:
          description: Authors of the book
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/AuthorShort'
        areEditors:
          description: Flag to set to true if the book is published by editors
          type: boolean
          default: false
          examples:
            - false
        editor:
          $ref: '#/components/schemas/Editor'
        title:
          description: Title of the book
          type: string
          minLength: 2
          maxLength: 255
          examples:
            - Test-Driven Development
        subtitle:
          description: Subtitle of the book
          type: string
          minLength: 2
          maxLength: 255
          examples:
            - By Example

    CatalogEntryFull:
      description: A full entry in the library including cover image
      type: object
      allOf:
        - $ref: '#/components/schemas/CatalogEntryShort'
      properties:
        coverImageWebP:
          description: Cover image of the book
          type: string
          format: binary
        subtract:
          $ref: '#/components/schemas/Subtract'
        tags:
          description: Tags to the entry to create recommendation lists
          type: array
          minItems: 0
          maxItems: 25
          items:
            $ref: '#/components/schemas/Tag'
        media:
          description: Link to the media which contains the book
          type: string
          format: url
          example:
            - 'https://online-library/storage/2024/test-driven-development.epub'
        format:
          description: Format of the according media
          type: string
          x-exensible-enum:
            - EPUB
            - KINDLE
            - PDF
            - BBEB
            - MOBI
          default:
            - EPUB
          examples:
            - EPUB

    Subtract:
      description: A subtract of a book contained in a catalog entry
      type: string
      minLength: 10
      maxLength: 2048

    Tag:
      description: A short tag to create recommendation for members
      type: string
      minLength: 5
      maxLength: 107

    Editor:
      description: Editor of a book
      type: object
      required:
        - name
      properties:
        name:
          description: Name of the editor
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Springer Nature
            - Addison-Weasley
        city:
          description: Location of the editor
          type: string
          minLength: 2
          maxLength: 55
          examples:
            - Cham, Switzerland
            - Boston

  securitySchemes:
    openIdConnect:
      type: openIdConnect
      description: Security scheme for events
      openIdConnectUrl: "https://idp.codecentric.de/configuration"
